
  h1 {
    background-color: #333; /* cambia el color de fondo */
    color: #fff; /* cambia el color del texto */
    padding: 20px; /* agrega un relleno para separar el contenido del borde */
    text-align: center; /* centra el texto horizontalmente */
  }
  
